@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */



body {
  background-image: linear-gradient(to left, #375967, #1b262c);
  /* background: rgb(51,75,87); */
  /* background: linear-gradient(90deg, rgba(51,75,87,1) 0%, rgba(27,38,44,1) 50%, rgba(55,89,103,1) 100%); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Open Sans', 'Lexend Deca', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.cross:hover{
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;

}
.bars:hover{
  background-color: white;
  color: #1B262C;
  
}

.bars{
  color: white;
  background-color: #1B262C;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b262c;

}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}

.whatsapp {
  animation: glowing 1000ms infinite;
}